/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";



 /*===== Push 首頁-立即購買 =====*/
 .push-box {
   /* 區塊 */
   text-align: center;
   padding: 75px 0 0 0;
   height: 200px;
   background: image_url("start.jpg") no-repeat scroll top center/ cover; //背景圖片
 }

 /*===== Navbar 导览列 ======*/
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  /* 文字连结 */
  a {
    color: #fff !important;
  }

  /* 连结-鼠标效果 */
  a:hover,
  a:active,
  a:focus {
    color: #0070DE !important;
  }
}

/*===== Logo ======*/
.logo-box {
  margin-right: 15px;
  font-size: 20px;
  padding-left: 50px;
}
